@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center ml-2">@ViewData["Title"]</h1>
<div class="container">
    <div class="row bg-light">
        <div class="col-md-6 mx-auto">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4 class="py-3 my-3 text-center mr-2">Create a new account</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group text-center">
                    <label asp-for="Input.Ad"></label>
                    <input asp-for="Input.Ad" class="form-control" style="border-radius:1.5rem" />
                    <span asp-validation-for="Input.Ad" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.Soyad"></label>
                    <input asp-for="Input.Soyad" class="form-control" style="border-radius:1.5rem" />
                    <span asp-validation-for="Input.Soyad" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.DogumTarihi"></label>
                    <input asp-for="Input.DogumTarihi" class="form-control" style="border-radius:1.5rem" />
                    <span asp-validation-for="Input.DogumTarihi" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" style="border-radius:1.5rem" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" style="border-radius:1.5rem" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" style="border-radius:1.5rem" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary text-center">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
