@using BlogSitesi.Models;
@model List<Hakkimizda>
@{
    ViewData["Title"] = "About";
}

<div class="wrap">
    <h2 class="text-center" style=" color:#12DC71">HAKKIMDA</h2>
    <div class="about col-12 m-lg-5">
        @foreach (var x in Model)
        {
            <img src="@x.FotoUrl" alt="" />
            <p>@x.Aciklama</p>
        }
    </div>
</div>

