@using WebProgramlamaProjesi.Models;
@model List<Hakkimizda>
@{
    ViewData["Title"] = "About";
}

    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            @foreach (var x in Model)
            {
                <img src="@x.FotoUrl" alt="" />
                <p>@x.Aciklama</p>
            }
        </div>
    </div>

